<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
        <div id="login">
            <form action="inicio.html" method="post"> 
                <img src="assets/images/logo.svg" alt="logo">
                <h1>Ingresar</h1>
                <p>Por favor, ingresa las credenciales para poder administrar la aplicación.
                </p>
                <div class="group-input">
                    <input type="text" placeholder="Usuario">
                    <img class="user" src="assets/images/iconuser.svg" alt="user">
                </div>
                <div class="group-input">
                    <input type="password" placeholder="Contraseña">
                    <img class="password" src="assets/images/mdi_password.svg" alt="password">
                </div>
                <button type="submit">Ingresar</button>
                <a href="olvide-contraseña.html">Olvide mi contraseña</a>
            </form>
        </div>
    
    
</body>
</html>