<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvide-contraseña</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
        <div id="login">
            <form action="" method="post"> 
                <img src="assets/images/logo.svg" alt="logo">
                <h1>Olvide mi contraseña</h1>
                <p>Por favor, introduce tu dirección de correo electrónico asociada a tu cuenta. Te enviaremos un enlace para restablecer tu contraseña
                </p>
                <div class="group-input">
                    <input type="text" placeholder="Correo electrónico">
                    <img class="user" src="assets/images/mail.svg" alt="mail">
                </div>
                <button type="submit">RECUPERAR CONTRASEÑA</button>
                <a class="link-volver-atrás" href="login.html"> 
                    <img src="assets/images/flecha.svg" alt="flecha">
                    Volver atrás</a>
            </form>
        </div>
    
    
</body>
</html>