// @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Fonts*/
$font-title: 'Source Sans 3', sans-serif;
$font-text: 'Source Sans 3', sans-serif;

 /*Colors */
$primary: #1A1A1A;
$title: #1A1A1A;
$title-white: #fff;
$text: #7E7E7E;
$text-white: #C6C6C6;
$acent: #2B2D30;
$line: #B9C8DE;
$bg-caja: #393949;
$bg-active-nav: $acent;
$bg-body: #F5F8FF;
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
$hover: opacity 07;
$white: #fff;
$text-nav: #B1B7C1;
$active-btn-nav: $acent;
$bg-icon: #F6F6F6;
$red: #E23E3E;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: $bg-body;
    display: block!important;
}
.bodyAll{
  padding: 20px;
  background-color: $white;
  margin: 20px;

}
li{
  list-style: none;
}
html,
body {
  font-family: $font-title;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 900;
  color: $title;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}
span{
    font-family: $font-title;
    font-weight: 600;
}
p {
  font-family: $font-text;
  font-size: 18px;
  font-weight: 400;
  color: $text;
  line-height: 30px;

}
a {
  color: $acent;
  font-size: 14px;
  text-decoration: none;
  transition: 300ms;
  &:hover{
    color: $acent;
  }
}
button{
  padding: 15px 25px;
  height: 42px;
  background-color: $acent;
  color: $title-white;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 300ms;
  margin-top: 15px;
  &:hover{
        box-shadow: 1px 5px 8px 0px #0000001a;
  }
  img{
    width: 14px;
  }
  svg{
    fill: $primary;
    width: 15px;
  }
  a{
    color: $white;
    font-size: 16px;
    &:hover{
        color: $white;
    }
  }
}

.btn-link{
  padding: 0;
  a{
    padding: 14px 25px;
  }
}

select {
font-family: $font-title!important;
  border: 2px solid $line;
  padding: 20px 15px;
  font-size: 14px;
    font-family: 'Inter';
    width: 100%;
    &:focus{
      outline: none;
      border: 2px solid $line;
    }
}
.active{
  padding: 12px 18px;
  background-color: #2B2D30;
  color: #FFFFFF !important;
  svg{
    fill: #fff !important;
  }
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.etiquetas{
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  h6{
    color: $text;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
  }
  h3{
    color: $primary;
    font-size: 25px;
  }
  div:last-child{
    display: flex;
    align-items: end;
    justify-content: end;
    img{
      padding: 13px;
      background: #DAF4F0;
      border-radius: 8px;
      width: 60px;
      height: 60px;
      }
    }
  }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.bg-red{
  background-color: $red;
}
.table-responsive{
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
}

#table-normal{
   border-collapse: collapse;
  thead{

    background: $bg-icon;
    th{
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  tbody{
    td{
      border: 1px solid $line;
      padding: 0px 10px;
      font-size: 13px;
    }
  }
}
.group-input{
  position: relative;
}
.required{
  input{
    border-right: 3px solid $acent;
  }
}
input {
  border-radius: 0px;
  border: 2px solid $line;
  padding: 15px;
  padding: 20px 15px;
  font-size: 14px;
    width: 100%;
    &:focus{
      outline: none;
      border: 1px solid $primary;
      //border-bottom: 3px solid $primary;
    }
}

textarea {
    padding: 20px;
    border: 2px solid $line;
    padding: 15px;
    padding: 20px 15px;
    font-size: 14px;
    font-family: sans-serif;
      width: 100%;
      white-space: pre-wrap;

      &:focus{
        outline: none;
        border: 1px solid $primary;
        //border-bottom: 3px solid $primary;
      }
  }
label {
  margin-bottom: -10px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  display: flex;
  place-self: flex-start;
  padding: 0px 10px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;

}
select{
  &:focus{
    outline: none;
    border: 1px solid #acacac;
  }
}
.input-icon-left{
    position: relative;
    img{
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 10px;
      transform: translate(-50%);
      width: 20px;
    }
    input{
      padding-left: 30px;
      width: 100%; 
      padding: 10px; 
      border: 1px solid #ddd;
      border-radius: 4px;
    }
}

/* Estilo base para todos los checkboxes */
.checkbox-personalizado {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 3px;
  border: 2px solid $primary;
  position: relative;
}

.checkbox-personalizado::after {
  content: "";
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: $primary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked ~ .checkbox-personalizado::after {
  display: block;
}
.w-100{
    width: 100%;
}
mb-10{
    margin-bottom: 10px;
}
mt-10{
    margin-top: 10px;
}
ml-10{
    margin-left: 10px;
}
mr-10{
    margin-right: 10px;
}


.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.between{
  justify-content: space-between;
}
.hor-end{
  justify-content: end;
}
.text-end{
  text-align: end;
}
.hor-center{
  justify-content: center;
}
.hor-start{
  justify-content: start;
}
.gap-5{
  gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.ver-end{
  align-items: end;
}
.ver-center{
  align-items: center;
}
.ver-start{
  align-items: start;
}
.around{
  justify-content: space-around;
}
.between{
  justify-content: space-between;
}
.evenly{
  justify-content: space-evenly;
}
.width-100{
  width: 100%;
}
.text-center{
  text-align: center;
}
.bg-primary{
  background-color: $primary;
}
.label-reset{
  label{
    margin: 0;
    padding: 0;
  }
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 20px;

}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
  gap: 20px;
  margin-top: 15px;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  gap: 20px;
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
  gap: 20px;
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14%, 1fr));
  gap: 20px;
}
#module_title{
  padding: 10px 10px 0px 10px;

}
.container-25-75 {
  @include grid-columns(25%,75%);
}

.container-30-70 {
  @include grid-columns(30%,70%);
}

.container-50-50 {
  @include grid-columns(50%,50%);
}

@media (max-width: 767px) {
  /* Estilos para pantallas pequeñas */
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6 {
grid-template-columns: repeat(1, 1fr); /* Siempre 2 columnas */
  }
  .container-25-75 {
    @include grid-columns(100%,100%);
  }
  
  .container-30-70 {
    @include grid-columns(100%,100%);
  }
  
  .container-50-50 {
    @include grid-columns(100%,100%);
  }
  .container{
    padding: 0px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tabletas en modo vertical */

}

@media (min-width: 1025px) and (max-width: 1366px) {
  /* Estilos para tabletas en modo horizontal (paisaje) */

}
@media (min-width: 1367px) {
  /* Estilos para computadoras de escritorio */

}
