.content_login{
    justify-content: center;
align-items: center;
margin: 50px 0px;
    form{
        width: 500px;
    }
    .w-100{
        width: 100%;
    }
}
.form-check{
    display: flex;
    align-items: center;
    input{
        margin: 0;
        display: flex;
        width: 20px;
        height: 17px;
    }
    label{
        margin: 0;
    }
}

.content_form {
    width: 100%;
    a{
        font-size: 12px;
        color: $primary;
        font-weight: 500;

    }
    h2{
        font-size: 40px;
    }
    p{
        margin-top: -10px;
        font-size: 14px;
        color: $text;
        margin-bottom: 20px;
        text-align: start;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin: auto;
    input{
        background-color: #EDEDED;
        &:focus{
            border: 1px solid $primary;
        }
    }
    label{
        //background: linear-gradient(to bottom, #fff 50%, #EDEDED 50%);
        font-size: 12px;

    }
    .contraseña,.usuario{
        position: relative;
        .eye_open{
            position: absolute;
            top: 50%;
            right: 10px;
            cursor: pointer;
            transform: translateY(-50%);
            display: none;
        }
        .eye_open,.eye_open,.eye_close,.icon_correo,.icon_usuario{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .eye_close1,.eye_open1,.eye_close2,.eye_open2{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        img{
            width: 18px;
            height: 18px;
        }

    }

}
